<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mata.model.article.dao.ArticleDao">


    <select id="getArticleById" resultType="com.mata.model.article.vo.ArticleVo"
            parameterType="java.lang.Long">
        SELECT a.article_id, a.article_title, a.article_context_url, a.article_img_url,a.user_id,a.brief_introduction,a.create_time,a.article_state,u.head_url,u.username
        FROM tb_article a JOIN tb_user u
                               ON u.user_id = a.user_id
        WHERE a.article_id = #{articleId}
          AND a.article_state = "已审核"
    </select>

    <select id="getArticleAuditList" resultType="com.mata.model.article.vo.ArticleAuditVo">
        SELECT
            ar.article_id,
            ar.user_id,
            ar.article_state,
            ar.article_title,
            ar.article_img_url,
            ar.article_context_url,
            ar.brief_introduction,
            ar.create_time,
            au.non_pass_cause
        FROM tb_article ar
                 LEFT JOIN tb_audit au
                           ON ar.article_id = au.article_id
        <where>
          ar.article_state = #{articleSearchDto.state}
            <if test=" articleSearchDto.articleId != null and articleSearchDto.articleId != '' ">
                AND ar.article_id = #{articleSearchDto.articleId}
            </if>
            <if test=" articleSearchDto.userId != null and articleSearchDto.userId != '' ">
                AND ar.user_id = #{articleSearchDto.userId}
            </if>
            <if test=" articleSearchDto.title != null and articleSearchDto.title != '' ">
                AND ar.article_title like concat(#{articleSearchDto.title},'%')
            </if>
        </where>
        ORDER BY ar.create_time DESC
    </select>
</mapper>