<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mata.model.article.dao.ArticleDao">


    <select id="getArticleById" resultType="com.mata.model.article.vo.ArticleVo"
            parameterType="java.lang.Long">
        SELECT a.article_id, a.article_title, a.article_context_url, a.article_img_url,a.user_id,a.brief_introduction,a.create_time,u.head_url,u.username
        FROM tb_article a JOIN tb_user u
                               ON u.user_id = a.user_id
        WHERE a.article_id = #{articleId}
          AND a.article_state = "已审核"
    </select>
</mapper>